* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
header {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 0;
}

#school-title {
    color: #000000;
}

.nav-link {
    color: #fffffffb !important;
}

.nav-link:hover {
    color: rgb(54, 44, 44) !important;
}

h2, h1{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#logo {
    width: 100px;
}

#school-title {
    font-size: 24px;
}

.navbar-expand-md .navbar-collapse {
    justify-content: space-around;
}

.d-inline-flex {
    align-items: center;
}

.lead {
    background-color: #ffffff21;
    font-family: "Droid Serif", serif;
}

.background-green-header {
    background-color: #168f16;
}

.background-green {
    background-image: linear-gradient(to right, #004000, #66CD00);
}

.background-gray {
    background: linear-gradient(to right, #333, #999);
}

#main-title {
    text-align: center;
}

.div-content {
    padding: 25px;
    color: #ffffff;
    
}

ion-icon {
    color: black;
    font-size: 28px;
}

ion-icon:hover {
    color: rgba(0, 0, 0, 0.562);
}

#footer-margin-bottom {
    margin-bottom: 0;
}

/* .display-flex-row-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00b634;
    color: white;
}
#logo{
    width: 6%;
}
#main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#school-title {
    padding-top: 1vw;
}

.header-flex {
    margin-right: 20%;
}

nav {
    margin: 25px 0;
}

nav a {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

nav a:hover {
    transition: 0.5s;
    background-color: rgb(231, 231, 231);
}

.display-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.secao-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 60vh;
    width: auto;
    margin-bottom: 40px;
    background-color: #00b634;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.secao-flex img{
    width: 25%;
}

.font-color-white {
    color: white;
}

.secao-flex section {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
}

#secao-homenagem {
    background-color: aliceblue;
    margin-bottom: 0;
}

section{
    height: 40vh;
}

section h1 {
    text-align: center;
}

.section-text {
    text-align: right;
    width: 60vw;
}

a {
    text-decoration: none;
    color: black;
}

.sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0; 
    height: auto;
}


.footer {
    background-color: #00b634;
    width: 100%;
    text-align: center;
    color: white;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}

.social-icons img {
    width: 50px; 
} */