* {
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display-flex-row-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00b634;
    color: white;
}
#logo{
    width: 6%;
}
#main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#school-title {
    padding-top: 1vw;
}

.header-flex {
    margin-right: 20%;
}

nav {
    margin: 25px 0;
}

nav a {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

nav a:hover {
    transition: 0.5s;
    background-color: rgb(231, 231, 231);
}

.display-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.secao-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 60vh;
    width: auto;
    margin-bottom: 40px;
    background-color: #00b634;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.secao-flex img{
    width: 25%;
}

.font-color-white {
    color: white;
}

.secao-flex section {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
}

#secao-homenagem {
    background-color: aliceblue;
    margin-bottom: 0;
}

section{
    height: 40vh;
}

section h1 {
    text-align: center;
}

.section-text {
    text-align: right;
    width: 60vw;
}

a {
    text-decoration: none;
    color: black;
}

.sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0; 
    height: auto;
}


.footer {
    background-color: #00b634;
    width: 100%;
    text-align: center;
    color: white;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}

.social-icons img {
    width: 50px; 
}