.forum{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}


#campoForum{
    height: 100px;
    width: 500px;
    text-align: center;
}

.forum input{
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.203); 
}

#botaoEnviar{
    background-color: #00b634;
    color:white;
    border-radius: 4px;
    border:none;
    width: 100px;
}


#quadro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    
}

.pergunta{
    margin: 30px 160px;
    padding: 10px;
    height: 100px;
    background-color: #5c5b5b1f;
    border-radius: 15px;
}

.nomeComentario{
    display: flex;
    align-items: center;
    gap: 10px;
}

#dataHora{
    color: #808080;
    font-size: 12px;
}

.comentario{
    margin-left: 60px;
}

.image{
    width: 50px;
}

.botaoEnvio{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 50px;
}

#envio{
    font-size: larger;
    display: flex;
    background-color: #00b634;
    color:white;
    border-radius: 4px;
    border:none;
    width: 240px;
    padding: 3px;
}