.background-Lightgray {
    background-color: rgba(170, 170, 170, 0.219);
}

.img-perfil-forum{
    width: 100px;
    border-radius: 100%;
}

.container-mensagem {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.flex-mensagem-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 140px;
}

.nome-perfil-forum {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.texto-mensagem-forum {
    font-family: "Droid Serif", serif;
}

#botaoEnviar {

}

label {
    font-weight: 600;
}